<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366863444563-g29vvni3gka7hjhhh1eu07hq32sj8tov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366863444563-g29vvni3gka7hjhhh1eu07hq32sj8tov</string>
	<key>API_KEY</key>
	<string>AIzaSyAzhNMfXBNSYrCZxgRiBBI_D5Vjakodowg</string>
	<key>GCM_SENDER_ID</key>
	<string>366863444563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shravanprasanth.Groceries</string>
	<key>PROJECT_ID</key>
	<string>groceries-b6180</string>
	<key>STORAGE_BUCKET</key>
	<string>groceries-b6180.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366863444563:ios:fbdbaeae36bd6e3f7d34a6</string>
</dict>
</plist>